/* Global */
body {
  font-family: "Inter", sans-serif;
}

/* Specific elements */
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700; /* bold */
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400; /* regular */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}
